%h1= @article.title
%p= @article.body
%br
%p
  = link_to "Edit", edit_article_path(@article)
  = link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete?" }

%p
  %h2= "Comments (#{@article.comments.count})"
  = render partial: 'comment', collection: @article.comments

%p
  = render partial: 'comments/form'
%p
  = link_to "<< Back to Article Index!", articles_path
